#quater-dropdown {
    font-size: 14px;
}
#month-dropdown{
    font-size: 14px;
}
#lob-dropdown{
    font-size: 14px;
}
#state-dropdown{
    font-size: 14px;
}
#Error-dropdown{
    font-size: 14px;
}

table{
width:100%
};